@charset "utf-8";
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto Mono&famonospaceo+Mono:ital,wght@1,700&display=swap');

body,
html {
    margin:0;
    width: 100%;
    height: auto;
}

*{
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    display: flex;
    flex: 1px;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
}


header {
    width: 100%;
    height:100px;
    margin-top:30px;
    position:relative;
    background-image: url(img/cover2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: #8c7b75; */
}


header nav{
    font-family: "Roboto Mono", monospace;
    text-align: center;
    position:absolute;
    left:-2%;
    bottom:10%;
    width:100%;
    color: #fff;
    font-size: 1.2em;
    font-style: italic;
}
header nav ul{
    list-style:none;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
}
header nav li{
    flex-grow:1;
    text-align:center;
}
header nav a{
    text-decoration : none;
    font-style: italic;
    font-family: "Roboto Mono", monospace;
    color:rgb(236, 236, 236);
    font-size:1.5em;
    font-weight: 600;
    text-shadow: 0px 0px 8px rgb(88, 80, 52);
}

header nav a:hover {
    color:rgb(223, 210, 197);
}
header nav .gnb li.btn{
    position:relative;
}

header nav .gnb li.btn .hr {
    position:absolute;
    display:none;
    width:100px;
    bottom:-10px;
    left:50%;
    height:3px;
    background-color: white;
    transform: translate(-50%,0);
}

header nav .gnb li.on .hr {
    display:block;
}  



.wrapper {
    width: 100%;
}

.wrapper section {
    width: 100%;
    padding: 50px 20px;
    flex: 1px;
    margin: 0 auto;
    box-sizing: border-box;
    display: none;
}

/* aboutme 탭 */
.wrapper section#about {
    display: block;
}

.wrapper section#about .who{
    width:100%;
}

.wrapper section#about .who h1 {
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    font-size: 2rem;
    color: #8c7b75;
}
  
.wrapper section#about .who .me {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;
    padding: 30px 0px;
}
  
.wrapper section#about .who .me .meImg {
    padding: 10px 0px;
    box-sizing: border-box;
}
.wrapper section#about .who .me .meImg img{
    width:190px;
    border-radius: 150px;
    border:1.5px dashed gray;
}
  
.wrapper section#about .who .me .meText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 560px;
}

.wrapper section#about .who .me .meText p {
    margin-top: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1em;
    line-height: 25px;
}
  
.wrapper section#about .who .me .meText p span {
    font-size: 0.8em;
    color: rgb(138, 138, 138);
}


.wrapper section#about .who .contact{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: wrap;
    padding: 30px 0px;
}
.wrapper section#about .who .contact .contactImg {
    padding: 10px 0px;
    box-sizing: border-box;
}
.wrapper section#about .who .contact .contactImg img{
    transition: all 0.3s ease;
    width:150px;
} 
.wrapper section#about .who .contact .contactImg img:hover {
    transform: rotate( -5deg ) translate(0px, -10px);
}


.wrapper section#about .who .contact .contactText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 560px;
    text-align: center;
}
.wrapper section#about .who .contact .contactText img{
    margin:0 auto;
    width:1.8em;
}

.wrapper section#about .who .contact .contactText a {
    font-family: "Noto Sans KR", sans-serif;
    color:#242424;
    font-size: 1.5em;
    text-decoration: none;
    text-decoration: none;
}

/* project탭 */

.wrapper section#project {
    width: 100%;
}

.wrapper section#project .gridWrap {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(1, 300px);
}

.wrapper section#project .modal {
    border: 1px solid #dddddd;
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
    box-sizing: border-box;
    cursor: pointer;
    height:300px;
    position:relative;
}

.wrapper section#project .modalText {
    position:absolute;
    bottom:30px;
    left:0;
    padding-left:15px;
    font-size:14px;
    color:rgb(71, 71, 71);
}

.wrapper section#project .modalText span{
    font-size:12px;
    color:rgb(114, 114, 114);
    padding-left:2px;
}

.wrapper section#project .modal img{
    border: 1px solid #dddddd;
    height:180px;
    margin:0 auto;
    position:absolute;
    left:50%;
    transform:translate(-50%,0%);
}

.wrapper section#project .modal:hover {
    transform: translate(0px, -10px);
    box-shadow: 0px 10px 30px 0px rgba(70, 57, 42, 0.404);
}


  .wrapper section#project .modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .wrapper section#project .modal_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  
  .wrapper section#project .modal_body {
    position: relative;
    width: calc(100vw - 10%);
    max-width: 1620px;
    min-height: 188px;
    z-index: 9;
    padding: 60px 30px 30px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 30px 0 rgba(46, 46, 46, 0.26);
    border: 1px solid #ccc;
  }
  .wrapper section#project .modal_content {
    overflow-y: auto;
    height: 560px;
    max-height: 920px;
  }
  
  .wrapper section#project .modal_content button {
    position: absolute;
    right: 35px;
    top: 20px;
    border: none;
    background-color: #fff;
    font-size: 25px;
    color: rgb(73, 73, 73);
    cursor: pointer;
  }
  
  .wrapper section#project .modal_content button:hover {
    color:  #8c7b75;
  }
  
  .wrapper section#project .modal_content .weblink {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e6e6e650;
    padding: 80px 15px 40px 15px;
    box-sizing: border-box;
    font-size: 65%;
    line-height: 1.5;
  }
  
  .wrapper section#project .modal_content .weblink p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    color: rgb(54, 54, 54);
  }
  
  .wrapper section#project .modal_content .weblink a {
    font-family: "Noto Sans KR", sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    color: rgb(41, 41, 41);
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .wrapper section#project .modal_content .weblink a:hover {
    background-color: #8c7b75;
    border-color: #8c7b75;
    color: #fff;
  }
  
  .wrapper section#project .modal_content img {
    width: 100%;
    margin-bottom: 100px;
  }
  
  .wrapper section#project .modal_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(70, 70, 70, 0.8);
  }
  
  .wrapper section#project .hidden {
    display: none;
  }



footer {
    width: 100%;
}
footer span {
    width: 100%;
    color: rgb(190, 190, 190);
    font-family: "Noto Sans KR", sans-serif;
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
    padding: 30px 0px;
    font-weight: 700;
}



.top{
    display : none;
}
.top div{
    position:fixed; 
    z-index: 1001;
    bottom:5%; 
    right:5%; 
    border-radius: 70%;
    background-color: rgba(0, 0, 0, 0.753);
    width: 42px;
    height : 42px;
    text-align: center;
    color:white;
}

.top img{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:12px;
}
.top div:hover{
    text-decoration: none;
    background-color: #584d2eb0;
}
